<div class="container">
  <div class="row form-group">
    <h1><%= @user.name %>のページ</h1>
    <%= image_tag(@user.image.url) if @user.image.url %>
    <p>ユーザー名: <%= @user.name %></p>
    <p>メールアドレス: <%= @user.email %></p>
  </div>
  <div class="row">
    <%= link_to '編集', edit_user_path(@user), class: 'btn btn-default' %>
  </div>
</div>
