<div class="container">
  <div class="container cheep_button_area">
    <button type="button"><%= link_to 'cheepする', new_cheep_path %></button>
  </div>
  <div class="container">
    <div class="row">
      <% @cheeps.each do |cheep| %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="content_area">
            <div class="content_text">
              <p><%= cheep.content %></p>
            </div>
            <div class="content_datetime">
              <p><%= cheep.created_at.time.strftime("%Y年%m月%d日 %H時%M分") %></p>
            </div>
            <div class="edit_button">
              <a><%= link_to '編集', edit_cheep_path(cheep) %></a>
              <a><%= link_to '削除', cheep, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
